.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px 40px 10px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-overlay::before,
.modal-overlay::after {
  content: "";
  display: block;
  height: 1px;
  flex-grow: 1;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40.625rem;
  padding: 60px 20px 50px 20px;
  background-color: #fff;
  border-radius: 30px;
  filter: drop-shadow(0 0 10px rgba(255, 103, 0, 0.7));
  transform: translateY(50px);
  transition: transform 0.3s;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  stroke: #a4a4a4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  /* padding: 10px; */
  transition: stroke 0.3s ease-in-out, scale 0.3s ease-in-out ;
}

.modal-close-button:hover {
  stroke: #ff0000;
  scale: 1.1;
}

/* .modal-content h2 {
  margin-bottom: 18px;
  font-size: 36px;
  color: #ff6700;
  text-align: center;
}

.modal-content p {
  margin-bottom: 33px;
  font-size: 24px;
  color: #2e2e2e;
  text-align: center;
}

.modal-content img {
  display: block;
  margin-bottom: 45px;
  width: 210px;
} */
.modal-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 280px;
  margin-top: 25px;
}

.modal-btn-submit {
  min-width: 80px;
  min-height: 36px;
  background-color: #056e17;
  border: 1px solid #056e17;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
  filter: drop-shadow(0 0 7px rgba(255, 103, 0, 0.3));
  transition: scale 0.3s;
}

.modal-btn-submit:hover {
  scale: 1.05;
}


.modal-btn-cancel {
  min-width: 80px;
  min-height: 36px;
  background-color: red;
  border: 1px solid red;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
  filter: drop-shadow(0 0 7px rgba(255, 103, 0, 0.3));
  transition: scale 0.3s;
}

.modal-btn-cancel:hover {
  scale: 1.05;
}

.cancelModalBtn {
  height: 50px;
  width: 50px;
}
