@import "../../scss/variables";

.cartItem {
  display: flex;

  width: 100%;
  border-top: 1px solid $gray-line;
  padding-top: 30px;
  margin-top: 30px;

  @media (min-width: 320px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__img {
    display: flex;
    align-items: center;

    img {
      width: 150px;
      height: 150px;

      @media (min-width: 600px) {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.cartInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @media (min-width: 768px) {
    min-width: 220px;
  }

  h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;

    @media (min-width: 600px) {
      font-size: 16px;
      min-width: 150px;
    }
  }

  p {
    font-size: 18px;
    color: #8d8d8d;
    margin-bottom: 10px;
  }
}

.cartInfoData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;

  @media (min-width: 600px) {
    min-width: 0px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cartInfoCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  margin-bottom: 10px;

  @media (min-width: 600px) {
    min-width: 100px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0px;
  }

  &__buttonPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 2px solid #fe5f1e;
    border-radius: 50%;
    background-color: #fff;

    @media (min-width: 600px) {
      width: 24px;
      height: 24px;
    }
  }

  &__buttonMinus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 2px solid #fe5f1e;
    border-radius: 50%;
    background-color: #fff;

    @media (min-width: 600px) {
      width: 24px;
      height: 24px;
    }

    svg {
      path:first-of-type {
        display: none;
      }
    }
  }

  &__text {
    font-size: 16px;
  }
}

.cartInfoPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;

  @media (min-width: 768px) {
    margin-left: 15px;
    min-width: 150px;
  }

  b {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.01em;
    text-align: center;
  }
}
.cartInfoRemove {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 130px;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: $orange;
    color: $white;

    @media (min-width: 600px) {
      width: 100px;
      padding: 5px;
      margin-top: 10px;
    }

    @media (min-width: 768px) {
      display: none;
    }

    &:hover,
    :focus {
      background-color: $black;
    }
  }

  &__buttonSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 2px solid #d7d7d7;
    border-radius: 50%;
    background-color: #fff;
    svg {
      transform: rotate(45deg);
      path {
        fill: #d7d7d7;
      }
    }
    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 768px) {
      display: block;
    }

    &:hover,
    :focus {
      border: 2px solid red;
      background-color: red;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
